.AnswerButton {
    width: 100%;
    background: #eab100;
}

.player {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(196, 191, 191);
}

.playerText {
    font-size: 20px;
}

.listItem {
    background: #018f98;
}