.AnswerButton {
    width: 100%;
    background: #eab100;
}

.player {
    text-align: center;
    align-self: center;
    background-color: rgb(196, 191, 191);
}

.playerText {
    font-size: 20px;
}

.listItem {
    background: #018f98;
}